//- Declaration
mixin slider(_class, count)
  .slider(class=_class)
    input#slide-1.slider__input(name='slider' type='radio' checked)
    - var n = 1;
    while n < count
      - n++
      input.slider__input(name="slider" type="radio" id="slide-" + n)
    .slider__photo
      - n = 0;
      while n < (count)
        - n++
        .slider__item 
          img.img.img--responsive(src="img/slider_" + n + ".jpg")
    - n = 0;
    .slider__thumbs
      while n < count
        - n++
        label.slider__thumb(for="slide-" + n)
          img.img.img--responsive(src="img/slider_"+ n+".jpg", alt="Слайд " + n)