include includes/mixins.pug
include includes/head.pug
  body
    main
      section.section
        .product
          h1.product__title Заголовок
          .product__slider.slider
            p Слайдер
          .product__desc
            h2.product__subtitle
            p.product__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores similique accusantium esse architecto eos, doloremque id ipsa, voluptas repudiandae tenetur molestiae voluptates, non itaque repellat. Facilis dicta repellat perferendis.
            p.product__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores similique accusantium esse architecto eos, doloremque id ipsa, voluptas repudiandae tenetur molestiae voluptates, non itaque repellat. Facilis dicta repellat perferendis.
          .product__buttons
            a.btn Купить

