include includes/mixins.pug
include includes/head.pug
body
  main
    section.section
      .container
        .product
          h1.product__title Заголовок
          .product__data
            +slider('product__slider',5)
            .product__desc
              .product__info
                h2.product__subtitle Подзаголовок
                p.product__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores similique accusantium esse architecto eos, doloremque id ipsa, voluptas repudiandae tenetur molestiae voluptates, non itaque repellat. Facilis dicta repellat perferendis.
                ul.list
                  li.list__item small list item
                  li.list__item small list item
                  li.list__item small list item
                  li.list__item small list item
              .product__info
                h2.product__subtitle Подзаголовок
                p.product__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit asperiores similique accusantium esse architecto eos, doloremque id ipsa, voluptas repudiandae tenetur molestiae voluptates, non itaque repellat. Facilis dicta repellat perferendis.
          .product__buttons
            a.btn.btn--round(href="#" title="Купить") Купить

